<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ilgiocatoreonline.it/wp-content/uploads/2020/04/Origine-dei-nomi-nel-Poker.jpg);">
  <div class="container">
    <div class="banner-wrapper">
      <h1>PREFLOP</h1>
      <div class="poker-quote">
        <p>“A pair of balls beats everything!”<br>-Phil Ivey</p>
        <% if user_signed_in? %>
          <a class="play-button" href="/games">Play now</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
