<h1 class="text-center">All Games</h1>

<ul>
  <% @games.each do |game| %>
    <li><%= link_to game.name, game_path(game) %></li>
  <% end %>
</ul>


<%= link_to "Create a new Game", new_game_path, class: "btn btn-success"  %>
