<%= link_to "Create a new Game", new_game_path, class: "btn btn-ghost" %>

<div class="cards">
  <% @games.each do |game| %>
    <%= link_to game_path(game), target: :_blank do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @poker_url.sample %>)">
        <%= game.name %>
      </div>
    <% end  %>
  <% end %>
</div>
