<h2 class = "text-center"><%= @game.name %></h2>
<h5>Game ID: <%= @game.id %></h5>

<p class="pseudos"><%= "hello"  %></p>

<button class="btn btn-success" id="join_game_button">Join this Game</button>
<p> Connected as <span id="current_user"><%= current_user.pseudo %> </span></p>
