.board-cards {
  width: 600px;
  border: 1px solid grey;
  display:flex;
  justify-content:center;
  align-items:center;
}

.board-card {
  border: 1px solid grey;
  margin: 5px;
  padding: 20px 10px;
}
