.dealing-button {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  background-color: rgb(0, 93, 25);
  color: rgb(192, 192, 192);
  padding: 5px 10px;
  margin: 10px;

  &:hover{
    background-color: rgb(0, 108, 30);
    color: white;
  }
}

.raise-button {
  margin-bottom: -30px;
  padding-bottom: 24px;
  width: 140px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  background: linear-gradient(0deg, rgba($color: rgb(100, 0, 0), $alpha: 0.3), red);
  border-radius: 5px;
}

.raise-button:hover {
  color: white;
  background: linear-gradient(0deg, rgba($color: rgb(100, 0, 0), $alpha: 0.3), rgb(200, 0, 0));
}

.raise-amount {
  text-align: center;
  margin-right: 14px;
  color: white;
}

.action-button {
  border: none;
  background: linear-gradient(0deg, rgba($color: rgb(100, 0, 0), $alpha: 0.3), red);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  width: 140px;
  height: 49px;
  margin: 0 10px;
  text-align: center;
}

.action-button:hover {
  color: white;
  background: linear-gradient(0deg, rgba($color: rgb(100, 0, 0), $alpha: 0.3), rgb(200, 0, 0));
}

.call {
  display: flex;
  align-items: flex-end
}

.fold {
  display: flex;
  align-items: flex-end
}

.check {
  display: flex;
  align-items: flex-end
}

.betting-wrapper {
  width: auto;
  justify-content: end;
  margin-top: -54px;
  margin-right: -70px;
}

.betting-range {
  margin-right: -20px;
}

.bet_amount {
  margin-right: 26px;
  margin-left: 10px;
  width: 140px;
  margin-bottom: 0!important;
}


input[name="bet[amount]"] {
  color: white !important;
}
