.dealing-button {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  background-color: rgb(0, 93, 25);
  color: rgb(192, 192, 192);
  padding: 5px 10px;
  margin: 10px;

  &:hover{
    background-color: rgb(0, 108, 30);
    color: white;
  }
}

.raise-button {
  margin-bottom: -30px;
  padding-bottom: 24px;
  width: 140px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
}

.raise-amount {
  text-align: center;
  margin-right: 14px;
}

.action-button {
  border: none;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  width: 140px;
  height: 49px;
  margin: 0 10px;
  text-align: center;
  &:hover {
    color: white;
  }
}

.call {
  display: flex;
  align-items: flex-end
}

.fold {
  display: flex;
  align-items: flex-end
}

.check {
  display: flex;
  align-items: flex-end
}

.betting-wrapper {
  border: 1px solid black;
  width: fit-content;
}

.betting-range {
  margin-right: -20px;
}

.bet_amount {
  margin-right: 26px;
  margin-left: 10px;
  width: 140px;
  margin-bottom: 0!important;
}
