.fileinput span {
  display: none;
}

.signup-form {
  background: white;
  padding: 10px 20px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.user-pic {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.modal-image {
  width: 30px;
  height: 40px;
}

input:focus {
	outline: none;
  border: 1px solid red;
}


.form-control:focus{
  outline:none;
  border-color:transparent;
  box-shadow:0 0 6px red;
}

.btn-close:focus{
  outline:none;
  border-color:transparent;
  box-shadow:0 0 6px transparent;
}

abbr {
  display: none;
}

.form-label {
  color: rgb(66, 66, 66);
  font-weight: 550;
  font-family: 'Courier New', Courier, monospace;
}

.modal-header .btn-close {
  margin: 0;
}
