.navbar-lewagon {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown{
 border-radius: 50%;
 height: 60px;
 width: 60px;
 object-fit: cover;
}

.align-navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-margin {
  margin-right: 28px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  border-bottom: 3px solid transparent;
  padding: 0;
}

.pages-home #nav-link-home {
    border-bottom: 3px solid red ;
}

.games-index #nav-link-games {
    border-bottom: 3px solid red ;
}

.pages-dashboard #nav-link-dashboard {
    border-bottom: 3px solid red ;
}

.align-pseudo {
  border-bottom: 3px solid transparent;
}

.home-navbar {
  background-color: rgba($color: black, $alpha: 0.8);
  color: white;
  #nav-link-home {
    color: white;
  }
  #nav-link-games {
    color: white;
  }
  #nav-link-dashboard {
    color: white;
  }
}


.nav-link-logout {
  color: white;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid red ;
    color: white;
  }
}

#sign-up-button {
  margin-right: 40px;
}
