.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown{
 border-radius: 50%;
 height: 60px;
 width: 60px;
 object-fit: cover;
}

.align-navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
