.not-joined {
  background-color: grey;
}

.current-better {
  animation: blinker 2s linear infinite;
  border: 8px solid transparent;
}

@keyframes blinker {
  50% {
    border-color: rgb(255, 175, 175);
  }
}
