.poker-table {
  position: relative;
  border: 2px dotted #000000;
  border-radius: 50%;
  width: 100%;
  height: 65vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: green;
}

.position-0 {
  position: absolute;
	top: 80%;
  right: 42%;
}


.position-5 {
  position: absolute;
	top: 55%;
  right: -4%;
}

.position-4{
  position: absolute;
  bottom: 62%;
  right: -4%;
}

.position-3{
  position: absolute;
  bottom: 90%;
  right: 42%;
}

.position-2{
  position: absolute;
  bottom: 62%;
  right: 84%;
}

.position-1{
  position: absolute;
  top: 55%;
  right: 84%;
}

.player-card {
  width: auto;
  height: 60px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  margin-top: -70px;
  position: relative;
  box-shadow: 0px 1px 5px black;
}

.player-infos {
  width: 20%;
}

.games-show {
  background-color: rgba($color: #000000, $alpha: 0.2);
}
