.poker-table {
  position: relative;
  border: 2px solid #323232;
  border-radius: 50%;
  width: 100%;
  height: 65vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: green;
  box-shadow: 0px 1px 5px black;
}

.position-0 {
  position: absolute;
	top: 80%;
  right: 40%;
}


.position-5 {
  position: absolute;
	top: 55%;
  right: -8%;
}

.position-4{
  position: absolute;
  bottom: 62%;
  right: -8%;
}

.position-3{
  position: absolute;
  bottom: 88%;
  right: 40%;
}

.position-2{
  position: absolute;
  bottom: 62%;
  right: 88%;
}

.position-1{
  position: absolute;
  top: 55%;
  right: 88%;
}

.player-card {
  width: auto;
  height: 60px;
  padding: 5px;
  border-radius: 30px;
  background-color: white;
  margin-top: -56px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 1px 5px black;
  border: 8px solid transparent;
}

.player-infos {
  width: 20%;
}

.games-show {
  background-image: url("https://i.pinimg.com/736x/c8/d8/33/c8d8337b5bd910618bf97a569889d787.jpg");
  background-size: cover;
}

.position-0 .button {
  position: absolute;
	top: -6%;
  right: 108%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.position-1 .button {
  position: absolute;
	top: 40%;
  right: -20%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.position-2 .button {
  position: absolute;
	top: -6%;
  right: -20%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.position-3 .button {
  position: absolute;
	top: 40%;
  right: -20%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.position-4 .button {
  position: absolute;
	top: -6%;
  right: 104%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.position-5 .button {
  position: absolute;
	top: 40%;
  right: 104%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px black;
  height: 30px;
  width: 30px;
  background-color: rgb(195, 195, 195);
}

.button-spade {
  width: 16px;
  height: 16px
}

.position-0 .bet-amount {
  position: absolute;
	top: -70%;
  right: -20%;
  padding: 4px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 93, 25, 0.8);
  width: 20px;
  height: 22px;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
      padding: 10px;
    }
  }

.position-1 .bet-amount {
  position: absolute;
	top: -36%;
  right: -40%;
  padding: 4px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 93, 25, 0.8);
  width: 20px;
  height: 22px;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
      padding: 10px;
    }
  }

.position-2 .bet-amount {
  position: absolute;
	top: 90%;
  right: -40%;
  padding: 4px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 93, 25, 0.8);
  width: 20px;
  height: 22px;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
      padding: 10px;
    }
  }

.position-3 .bet-amount {
position: absolute;
top: 120%;
right: -16%;
padding: 4px 30px;
border-radius: 20px;
color: white;
background-color: rgba(0, 93, 25, 0.8);
width: 20px;
height: 22px;
  p {
    margin-bottom: 0px;
    margin-right: 20px;
    padding: 10px;
  }
}

.position-4 .bet-amount {
  position: absolute;
	top: 75%;
  left: -30%;
  padding: 4px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 93, 25, 0.8);
  width: 20px;
  height: 22px;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
      padding: 10px;
    }
  }

.position-5 .bet-amount {
  position: absolute;
	top: -26%;
  left: -30%;
  padding: 4px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 93, 25, 0.8);
  width: 20px;
  height: 22px;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
      padding: 10px;
    }
  }

.casino-chip {
  width: 32px;
  height: 32px;
}


.games-show .container {
  height: 80%;
}

.hand-strength {
  width: 60%;
  height: 26px;
  color: white;
  border: 1px solid grey;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: -2px;
}

.empty-hand-strength {
  width: 60%;
  height: 26px;
  padding: 2px 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: -2px;
}

.remainder {
  font-size: smaller;
  color: lightgray;
}


.in-game-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid lightgrey;
}

.position-0 .in-game-picture {
  position: absolute;
	top: -24%;
  left: -8%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.position-1 .in-game-picture {
  position: absolute;
	top: -24%;
  left: 74%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.position-2 .in-game-picture {
  position: absolute;
	top: -24%;
  left: 74%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.position-3 .in-game-picture {
  position: absolute;
	top: -24%;
  left: 74%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.position-4 .in-game-picture {
  position: absolute;
	top: -24%;
  left: -8%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.position-5 .in-game-picture {
  position: absolute;
	top: -24%;
  left: -8%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
